<!DOCTYPE html>
<html lang="en">
<head>
  <title>User list</title>
</head>
<body>
  <div class="nav nav-tabs d-flex" id="nav-tab" role="tablist">
    <!-- TAB1 -->
    <a
      class="w-100 nav-item nav-link"
      routerLink="/home"
      routerLinkActive="active"
      style="flex: 1"
    >
      Home
    </a>
    <!-- TAB2 -->
    <a
      class="w-100 nav-item nav-link"
      routerLink="/users"
      routerLinkActive="active"
      style="flex: 1"
    >
      Users
    </a>
    <!-- TAB3 -->
    <a
      class="w-100 nav-item nav-link"
      routerLink="/banks"
      routerLinkActive="active"
      style="flex: 1"
    >
      Banks
    </a>
  </div>
  <!-- Router outlet -->
  <router-outlet></router-outlet>

</body>
</html>