.headerLabel {
  font-weight: bold;
}
.parentDiv {
  padding-left: 100px;
  padding-top: 20px;
  padding-right: 100px;
}
img {
  height: 50px !important;
  width: 50px !important;
}
.headerRow {
  border: 2px solid gray;
}
.dataRow {
  border: 1px solid black;
  margin-top: 5px;
}
